<footer id="footer">
    <div class="container">
        <div class="row upper_section">
            <div class="col-md-3">
                <h3>Contact Us...</h3>
                <ul class="unstyled">
                    <li>The Will Writing Partnership</li>
                    <li>Imperial House</li>
                    <li>Hornby Street</li>
                    <li>Bury</li>
                    <li>BL9 5BN</li>
                    <li>0161 705 4382</li>
                    <li>info@twp.co.uk</li>

                </ul>
            </div>
            <div class="col-md-3">
                <h3>Services We Provide</h3>
                <ul class="unstyled">
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Reiciendis dicta laboriosam enim</a></li>
                    <li><a href="#">Corporis, non aut rerum</a></li>

                </ul>
            </div>
            <div class="col-md-3">
                <h3>Neque, dolore, facere</h3>
                <ul class="unstyled">
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Distinctio, inventore quidem nesciunt</a></li>
                    <li><a href="#">Explicabo inventore itaque autem</a></li>

                </ul>
            </div>
            <div class="col-md-3">
                <h3>Illum, tempori, saepe</h3>
                <ul class="unstyled">
                    <li><a href="#">Lorem ipsum dolor sit</a></li>
                    <li><a href="#">Recusandae, culpa necessita nam</a></li>
                    <li><a href="#">Cupiditate, debitis adipisci blandi</a></li>

                </ul>
            </div>
        </div>

    </div>
</footer>
<div class="lower_section">
    <ul class="">
        <li class="separator hidden-xs"></li>
        <li class="{% if this.page.id == 'ajax' %}active{% endif %}"><a href="{{ 'ajax'|page }}">Site map</a></li>
        <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="{{ 'plugins'|page }}">Terms and Conditions</a></li>
        <li class="{% if this.page.id == 'plugins' %}active{% endif %}"><a href="{{ 'plugins'|page }}">Privacy Policy</a></li>
        <li>&copy; TheWillWritingPartnership. All rights reserved.</li>
        <ul>
        <li>
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        </li>
        </ul>
    </ul>
</div>
