<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#784b89;">
    <div class="collapse navbar-collapse justify-content-md-center" >
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link navbar-brand" href="#">Will Writing Partnership <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Life Planning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Personal Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Online Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Login</a>
            </li>
        </ul>

    </div>
</nav>