<!-- Nav -->
<div class="navigation">
    <ul>
        <div class="nav-button">
            <li><a class="nav-btn-open" href="#">Life Planning</a></li>
        </div>
        <div class="nav-button">
            <li><a class="nav-btn-open" href="#">Personal Services</a></li>
        </div>
        <div class="nav-button">
            <li><a class="nav-btn-open" href="#">Online Services</a></div>
        <li><a class-"" href=" {{ 'blog'|page }}">News</a></li>
        <li><a class-"" href=" {{ 'account'|page }}">Login</a></li>
    </ul>

</div>
<div class="nav-overlay">
    <div class="nav-wrap">
        <ul class="wrap-nav">
            <li><a href="#">Life Planning</a>
                <ul>
                    <li><a href="#">Somthing</a></li>
                    <li><a href="#">Somthing</a></li>
                    <li><a href="#">Somthing</a></li>
                    <li><a href="#">Somthing</a></li>
                </ul>
            </li>
            <li><a href="#">Personal Services</a>
                <ul>
                    <li><a href="#">Somthing</a></li>
                    <li><a href="#">Somthing</a></li>
                    <li><a href="#">Somthing</a></li>
                    <li><a href="#">Somthing</a></li>
                    <li><a href="#">Somthing</a></li>
                </ul>
            </li>
            <li><a href="#">Online Services</a>
                <ul>
                    <li><a href="#">Make Your will Online</a></li>
                    <li><a href="#">Document Storage</a></li>
                </ul>
            </li>
        </ul>
        </a>
    </div>
</div>
</div>

