@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-black-webfont.eot');
  src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-black-webfont.svg#latoblack') format('svg'), url('../fonts/lato-black-webfont.woff') format('woff'), url('../fonts/lato-black-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-italic-webfont.eot');
  src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg'), url('../fonts/lato-italic-webfont.woff') format('woff'), url('../fonts/lato-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.svg#latolight') format('svg'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-family: sans-serif;
  }
}

#footer {
    margin-top: 5rem;
    padding: 1rem;
    background-color:#626867;
}
#footer, a {
    color: #fff;
}

#footer li{
    list-style: none;

}

.upper_section {
    margin-top: 1rem;
    padding-top: 1rem;
    background-color:#626867;
}


.lower_section{
    background-color:#784b89;
    color: #fff;
}

.lower_section ul{
    text-align: center;
}

.lower_section li {
    padding: 0.5em 1em 0.5em 1em;
    display:inline-block;
}

.copyright, .icons li{
    padding: 0.3em 1em 0.3em 1em;
    display:inline-block;
    float:right;
}

.info_card {
    margin-bottom: 5rem;

}

.info_card {
    background-color: #efefef;
}

.card_button_btm{
    display:block;
    margin:auto;
    text-align: center;
    width: auto;
    height:2.5em;
    font-size: 1.5rem;
    padding:0.7rem 0;
    background-color: #784b89;
}

.bg_image_top {
    width:100%;
    height:80%;
    opacity: 0.5;
}

.main_info{
    background-color: white;
    position:relative;
    bottom:9rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px ;
}

.main_info_left{
    width:50%;
}

.main_info_right{
    background-color: white;
    opacity: 1;
    width:50%;
}

{
  background-color: #784b89!important;
}

.nav-item {
    padding: .3rem;
    font-size: 1.2rem;
}

.nav-link.navbar-brand {
    font-size: 1.5rem;
}

.info_bg {
    max-width: auto;
    height: 100%;
    width: 100%;
}

.card {
    border: 0px !important;

}
.card.card_info_right {
    position: relative;
}

.contact_req {
    margin-top: 1rem;
    margin-left: auto;
    max-width: 70%;
    padding: 1.5rem;

}

.jumbotron.jumbotron-fluid.contact_req_form {
    position: relative;
    bottom: 4rem;
}

.btn-primary {
    color: #fff;
    background-color: #784b89;
    border-color: #784b89;
}

.card-img-top {
  float: right;
}

.card-text{
    margin-top: 2.5rem!important;
    margin-bottom: 1rem!important;
}

.fl-fl {
  background: #784b89;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -150px;
  z-index: 1000;
  font: normal normal 10px lato;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.float-sm .fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-fb {
  top: 160px;
}

.float-tw {
  top: 215px;
}

.float-gp {
  top: 270px;
}

.float-rs {
  top: 325px;
}

.float-ig {
  top: 380px;
}

.float-pn {
  top: 435px;
}

.faq-top.card-body.text-center {
    position: relative;
    bottom: 6rem;
    left: 25%;
    background-color: white;
    max-width: 50%;
    border-radius: 20px 20px 0px 0px;
  }

  p.faq-top-text.text-center {
    position: relative;
    top: -2rem;
    margin-bottom: 3rem;
}
a.faq {
    color: black;
}

.faq.fa-plus-square:before {
    position: relative;
    left: 25rem;
    top: 1rem;
}

.faq.card-header{
      margin-bottom: 1rem;
}

.container.contact-form {
    width: 30%;
    height: 55rem;
}

img.img-fluid.contact-bkgound {
    z-index: -1;
}

section#layout-content {
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.contact-form {
    width: 100%;
    position: relative;
    top: 7rem;
}




